*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    display: flex;    
    background-color:#67999A ;
    
}
#cabeceraImagenNombre{
    flex: 30%;
}
#cabeceraMenu{
    flex: 70%;
    
}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    position: relative;
    z-index: 1000;
    margin-bottom: 4px;
    left: 5%;
    background-image: url(../img/Recurso\ 8.png);
    background-size: contain;
    background-repeat: no-repeat;

}
#nombreRectangulo{
    background-color: #013334;
    width: 180px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 15%;
}
#contenidoCuerpo{
    width: 100%;
    background-color: #D3EE9F;
    display: flex;
    padding-top: 50px;

    
}
footer{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    
}

ul li{
    display: inline;
     padding:0 10px;
     border-right: solid 2px black;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;

}
ul li a:hover{
    color: #a3b9b9;
    font-size: 17px;
    text-decoration: underline dashed 2px rgb(193, 146, 236);
    background-color: #00ecec;
}
#logoInicio{
    background-image: url("/img/Recurso\ 7.png");
    padding: 2px 0 0 24px;
    background-size: 22px;
    background-repeat: no-repeat;
}
#cuerpoImagen{
    flex: 40%;
}
#cuerpoDatos{
    flex: 60%;

}
#bordeImagen{
    background-color: #d46b68;
    padding: 25px;
    text-align: center;
    width: 70%;
  border-radius: 25px;
    
}
img{
    border-radius: 25px;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
